body{
    background-color:gainsboro;
    margin: 0px;
}
header{
    grid-area: header;
    background-color: rgb(66, 66, 151);
    text-align: center;
    padding-top: 1%;
}

p{ margin: 8px;} 
h2{ margin: 0px; }
.txt_header{ color:white }
.txt_stock{ color: rgba(128, 128, 128, 0.811);}

nav{
    grid-area: aside;
    height: 100%;
    width: 20%;
    padding-left: 15px;
    background-color:gainsboro;
}
main{ grid-area: main; }
.medio{
    display: flex;
    justify-items: center;
    width: 100%;
    height: 100%;
}

footer{
    grid-area: footer;
    background-color: white;
    text-align: center;
    padding-top: 5px;
}
button{
    background-color:rgb(66, 66, 151);
    width: 100%;
    padding: 5px;
    border-style: none;
}
.imagen{
    width: 100%;
    height: 80%;
}
.aside{
    height: 100%;
    width: 20%;
    padding-left: 15px;
    background-color:gainsboro;
} 
.tarjeta{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
}
.principal{
    display:grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    height: 95%;
    width: 100%;
    gap: 20px;
    padding: 20px;
}
.grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 7% auto 7%;
    grid-template-areas: 
        "header header"
        "aside main"
        "footer footer";
}